<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>delUserPage</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>
<body>
<div align="center">

    <h2 align="center">Delete user</h2>
        <form method="post" action="/admin/delete">


            <tr th:each="user : ${listUsers}">
                Id<br>
                <input size="30" disabled th:placeholder="${user.id} "> <br>
                Name<br>
                <input size="30" disabled th:placeholder="${user.name} "> <br>
                Password<br>
                <input size="30" disabled th:placeholder="${user.password} "> <br>
                Roles<br>
                <div class="select" style="width:225px;" align="center">

                    <select disabled size="2" style="width: 225px; ">
                        <option disabled th:text=" ${user.userRoles}">
                    </select>
                    <br>
                    <br>

                </div>
                <input type="hidden" name="id" th:value="${user.id}">
                <input class="action" type="submit" value="Delete">
        </form>
    <input class="logoutCancel" type="button" value="Close" onClick='location.href="/admin/adminPage"'/>
    <form th:action="@{/logout}" method="post">
        <input class="logoutCancel" type="submit" value="Logout"/>
    </form>






</div>
</body>
</html>

