<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>
<body>
<table align="center">
    <h1 align="center">Admin panel</h1>
    <thead>
    <h2 align="center">User table</h2>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUsers}">
        <td th:text="${user.id}">Product ID</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.password}">Brand</td>
        <td th:text="${user.userRoles}">Made in</td>
        <td>
            <form th:action="@{/admin/editUserPage}" method="post">
                <input type="hidden" name="id" th:value="${user.id}">
                <input class="cellbut2" type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:action="@{/admin/delUserPage}" method="post">
                <input type="hidden" name="id" th:value="${user.id}">
                <input class="cellbut1" type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div align="center">

    <form style="margin: 1px" method="get" action="/user/userPageInfo">
        <input class="cellbut4" type="submit" value="User page">
    </form>
    <form style="margin: 1px" method="get" action="/admin/addUserPage">
        <input class="cellbut3" type="submit" value="Add">
    </form>
    <form th:action="@{/logout}" method="post">
        <input class="cellbut4" type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>
