<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" >
</head>
<body>
<div align="center">
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>


<form th:action="@{/user/userPageInfo}" method="post">
      <div><input class="logoutCancel" type="submit" value="User page"/></div>
</form>
<form  th:action="@{/admin/adminPage}" method="post">
      <div><input class="action" type="submit" value="Admin page"/></div>
</form>
<form th:action="@{/logout}" method="post">
    <input class="logoutCancel" type="submit" value="Logout"/>
</form>

</div>
</body>
</html>